@import './assets/global-styles/bootstrap';

.input {
    &__wrapper {
        flex-basis: 100%;
        height: auto;
        position: relative;
        padding: 10px 0;
        
        @include media-query(md) {
            flex: 1 1 50%;

            &:nth-child(odd) {
                padding: 10px 10px 10px 0;
            }
    
            &:nth-child(even) {
                padding: 10px 0px 10px 10px;
            }
        }
        &:nth-child(3) {
            .input__single {
                &:focus, &:hover {
                    background-position: 90% 50%;
                }
            }
        }
    }
    &__single {
        @include dimensions(100%, 50px);
        background-color: $white;
        background-image: url(../../assets/img/tick.svg);
        background-size: 0px 0px;
        background-repeat: no-repeat;
        background-position: 97% 50%;
        border: solid 1px $white;        
        border-radius: 3px;
        color: $red;
        font-size: 16px;
        margin-right: $spacer/2;
        outline: none;    
        padding-left: $spacer/2;
        

        &::placeholder {
            color: $grey-alt;
        }

        &:focus {
            border: solid 1px $red;
        }

        &:valid {
            background-size: $spacer $spacer;
            border: solid 1px $green;
            color: $blue;
        }
    }
}
