.input__wrapper {
  flex-basis: 100%;
  height: auto;
  position: relative;
  padding: 10px 0; }
  @media screen and (min-width: 768px) {
    .input__wrapper {
      flex: 1 1 50%; }
      .input__wrapper:nth-child(odd) {
        padding: 10px 10px 10px 0; }
      .input__wrapper:nth-child(even) {
        padding: 10px 0px 10px 10px; } }
  .input__wrapper:nth-child(3) .input__single:focus, .input__wrapper:nth-child(3) .input__single:hover {
    background-position: 90% 50%; }

.input__single {
  width: 100%;
  height: 50px;
  background-color: #ffffff;
  background-image: url(../../assets/img/tick.svg);
  background-size: 0px 0px;
  background-repeat: no-repeat;
  background-position: 97% 50%;
  border: solid 1px #ffffff;
  border-radius: 3px;
  color: #F44336;
  font-size: 16px;
  margin-right: 10px;
  outline: none;
  padding-left: 10px; }
  .input__single::placeholder {
    color: #aaaaaa; }
  .input__single:focus {
    border: solid 1px #F44336; }
  .input__single:valid {
    background-size: 20px 20px;
    border: solid 1px #91DC5A;
    color: #005c9d; }
