@import './assets/global-styles/bootstrap';

.btn {
    @include dimensions(100%, 56px);
    background: $blue;
    border: none;
    color: $white;
    font-size: 12px;
    letter-spacing: 1px;
    margin-top: 5px;
    text-transform: uppercase;

    &.hidden {
        display:none;
    }
    
    @include media-query(md) {
        width: 200px;
    }

    &:hover {
        background: darken($blue, 5%);
        cursor: pointer;
    }
    &:disabled {
        opacity: 0.4;
        cursor: not-allowed;
    }
}