.btn {
  width: 100%;
  height: 56px;
  background: #005c9d;
  border: none;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 1px;
  margin-top: 5px;
  text-transform: uppercase; }
  .btn.hidden {
    display: none; }
  @media screen and (min-width: 768px) {
    .btn {
      width: 200px; } }
  .btn:hover {
    background: #004d84;
    cursor: pointer; }
  .btn:disabled {
    opacity: 0.4;
    cursor: not-allowed; }
