.textarea__wrapper {
  flex-basis: 100%;
  height: auto;
  overflow: hidden;
  padding: 10px 0; }
  @media screen and (min-width: 768px) {
    .textarea__wrapper {
      flex-basis: 50%;
      padding: 10px 10px 10px 0; } }

.textarea__single {
  width: 100%;
  height: 220px;
  background-image: url(../../assets/img/tick.svg);
  background-size: 0px 0px;
  background-repeat: no-repeat;
  background-position: 97% 10%;
  border: solid 1px #ffffff;
  color: #F44336;
  font-size: 16px;
  outline: none;
  padding: 10px 50px 10px 10px;
  position: relative; }
  .textarea__single::placeholder {
    color: #aaaaaa; }
  .textarea__single:focus {
    border: solid 1px #F44336; }
  .textarea__single:valid {
    background-size: 20px 20px;
    border: solid 1px #91DC5A;
    color: #005c9d; }

.textarea__label {
  display: block;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: left; }
