@import './assets/global-styles/bootstrap';

.textarea {
    &__wrapper {
        flex-basis: 100%;
        height: auto;
        overflow:hidden;        
        padding: 10px 0;

        @include media-query(md) {
            flex-basis: 50%;
            padding: 10px 10px 10px 0;
        }
       
    }
    &__single {
        @include dimensions(100%, 220px);
        background-image: url(../../assets/img/tick.svg);
        background-size: 0px 0px;
        background-repeat: no-repeat;
        background-position: 97% 10%;
        border: solid 1px $white;
        color: $red;          
        font-size: 16px;
        outline: none;
        padding: 10px 50px 10px 10px;
        position: relative;

        &::placeholder {
            color: $grey-alt;
        }
        
        &:focus {
            border: solid 1px $red;            
        }

        &:valid {
            background-size: 20px 20px;
            border: solid 1px $green;
            color: $blue;
        }
    }

    &__label {
        display: block;
        margin-bottom: $spacer;
        margin-top: $spacer;
        text-align: left;
    }
}