.hero {
  width: 100%;
  height: 300px;
  align-items: center;
  background-image: url(../../assets/img/office.jpg);
  background-position: center center;
  color: #ffffff;
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: relative;
  text-align: center; }
  @media screen and (min-width: 768px) {
    .hero {
      height: 500px; } }
  .hero:after {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    content: '';
    z-index: 1;
    background: rgba(0, 0, 0, 0.5); }
  .hero__plaque {
    background: rgba(0, 0, 0, 0.5);
    flex-basis: 90%;
    padding: 20px; }
    @media screen and (min-width: 768px) {
      .hero__plaque {
        flex-basis: 75%;
        padding: 50px; } }
  .hero__title {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 50px;
    letter-spacing: 2px;
    line-height: 1;
    margin: 0;
    position: relative;
    text-transform: uppercase;
    z-index: 3; }
    @media screen and (min-width: 768px) {
      .hero__title {
        font-size: 70px; } }
  .hero__sub-title {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 32px;
    font-weight: 300;
    letter-spacing: 2px;
    line-height: 1;
    margin: 0;
    padding-top: 20px;
    position: relative;
    text-transform: uppercase;
    z-index: 3; }
    @media screen and (min-width: 768px) {
      .hero__sub-title {
        font-size: 40px; } }
