@import './assets/global-styles/bootstrap'; 

.hero {
    @include dimensions(100%, 300px);
    align-items: center;
    background-image: url(../../assets/img/office.jpg);
    background-position: center center;
    color: $white;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
    text-align: center;

    @include media-query(md) {
        height: 500px;
    }

    &:after {
        @include overlay(1);
        background: rgba(0, 0, 0, 0.5);
    }

    &__plaque {
        background: rgba(0, 0, 0, 0.5);
        flex-basis: 90%;
        padding: $spacer;

        @include media-query(md) {
            flex-basis: 75%;
            padding: 50px;
        }

    }

    &__title {
        font-family: 'Yanone Kaffeesatz', sans-serif;
        font-size: 50px;
        letter-spacing: 2px; 
        line-height: 1;
        margin:0;
        position: relative;
        text-transform: uppercase;  
        z-index: 3;

        @include media-query(md) {
            font-size: 70px;
        }

    }
    &__sub-title {
        font-family: 'Yanone Kaffeesatz', sans-serif;
        font-size: 32px;
        font-weight: 300;
        letter-spacing: 2px;
        line-height: 1;
        margin: 0;
        padding-top: $spacer;
        position: relative;
        text-transform: uppercase;
        z-index: 3;
    
        @include media-query(md) {
            font-size: $spacer*2;
        }
        
    }
}