@import './assets/global-styles/bootstrap';

.alert-box {
    &__wrapper {
        @include dimensions(100%, 56px);
        align-items: center;
        background: $green;
        color:$white;
        display:none;
        justify-content: center;
        z-index:5;
        
        @include media-query(md) {
            margin-top: $spacer;
        }

        &.active {
            display: -webkit-flex;
            display:flex;
        }

        h1, h2 {
            flex: 0 0 100%;
            font-size: 12px;
            text-transform: uppercase;
            letter-spacing: 1px;
        }
    }
}