.alert-box__wrapper {
  width: 100%;
  height: 56px;
  align-items: center;
  background: #91DC5A;
  color: #ffffff;
  display: none;
  justify-content: center;
  z-index: 5; }
  @media screen and (min-width: 768px) {
    .alert-box__wrapper {
      margin-top: 20px; } }
  .alert-box__wrapper.active {
    display: -webkit-flex;
    display: flex; }
  .alert-box__wrapper h1, .alert-box__wrapper h2 {
    flex: 0 0 100%;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px; }
