@import './assets/global-styles/bootstrap';

.select {
    &__wrapper {
        flex-basis: 100%;
        height: auto;
        padding: 10px 0;
        position: relative;
        
        @include media-query(md) {
            flex-basis: 50%;
            padding: 10px 0 10px 10px;
        }
    }

    &__picker {
        @include dimensions(100%, 50px);
        background-color: $white;
        background-image: url(../../assets/img/tick.svg);
        background-size: 0px 0px;
        background-repeat: no-repeat;
        background-position: 93% 50%;
        border: solid 1px $white;
        color: $grey-alt;
        font-size: 16px;
        outline: none;

        &:focus {
            border: solid 1px $red-alt;
        }

        &:valid {
            background-size: $spacer $spacer;
            border: solid 1px $green;
            color: $blue;
        }
    }
}