.select__wrapper {
  flex-basis: 100%;
  height: auto;
  padding: 10px 0;
  position: relative; }
  @media screen and (min-width: 768px) {
    .select__wrapper {
      flex-basis: 50%;
      padding: 10px 0 10px 10px; } }

.select__picker {
  width: 100%;
  height: 50px;
  background-color: #ffffff;
  background-image: url(../../assets/img/tick.svg);
  background-size: 0px 0px;
  background-repeat: no-repeat;
  background-position: 93% 50%;
  border: solid 1px #ffffff;
  color: #aaaaaa;
  font-size: 16px;
  outline: none; }
  .select__picker:focus {
    border: solid 1px #c80000; }
  .select__picker:valid {
    background-size: 20px 20px;
    border: solid 1px #91DC5A;
    color: #005c9d; }
