.upload__wrapper {
  flex-basis: 100%;
  margin-bottom: 20px; }
  @media screen and (min-width: 768px) {
    .upload__wrapper {
      flex-basis: 50%;
      padding: 10px 0 10px 10px; } }

.upload__single {
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.upload__label {
  align-items: center;
  background: #005c9d;
  color: #ffffff;
  display: flex;
  flex-basis: 100%;
  font-size: 12px;
  height: 56px;
  float: right;
  justify-content: center;
  letter-spacing: 1px;
  position: relative;
  text-transform: uppercase; }
  .upload__label:hover {
    background: #004d84;
    cursor: pointer; }
  @media screen and (min-width: 768px) {
    .upload__label {
      flex-basis: 200px; } }

.upload__file {
  opacity: 0;
  overflow: hidden;
  margin-top: 20px;
  position: absolute;
  width: 70px;
  z-index: -1; }

.upload__sub-title {
  min-height: 30px; }

.upload__title {
  display: block;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: left; }
  .upload__title span {
    font-size: 12px; }

.upload__comp {
  width: 20px;
  height: 20px;
  margin-right: 10px; }

.upload__tick {
  width: 20px;
  height: 20px;
  display: none;
  margin-left: 10px;
  vertical-align: middle; }

.upload__file:valid ~ .upload__sub-title .upload__tick {
  display: inline-block; }
