@import './assets/global-styles/bootstrap';


.upload {
    &__wrapper {
        flex-basis: 100%;
        margin-bottom: $spacer;

        @include media-query(md) {
            flex-basis: 50%;
            padding: 10px 0 10px 10px;
        }
    }

    &__single {
        display: -webkit-flex;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__label {
        align-items:center;
        background: $blue;
        color: $white;
        display: flex;
        flex-basis: 100%;
        font-size: 12px;
        height: 56px;
        float:right;
        justify-content: center;
        letter-spacing: 1px;
        position: relative;
        text-transform: uppercase;

        &:hover {
            background: darken($blue, 5%);
            cursor: pointer;
        }

        @include media-query(md) {
            flex-basis: 200px;
        }
            
    }
    &__file {
        opacity: 0;
        overflow: hidden;
        margin-top: $spacer;
        position: absolute;
        width: 70px;
        z-index: -1;
    }

    &__sub-title {
        min-height: 30px;
    }

    &__title {
        display: block;
        margin-bottom: $spacer;
        margin-top: $spacer;
        text-align: left;

        span {
            font-size: 12px;
        }
    }
    
    &__comp {
        @include dimensions($spacer, $spacer);
        margin-right: $spacer/2;
    }

    &__tick {
        @include dimensions($spacer, $spacer);
        display:none;
        margin-left: $spacer/2;
        vertical-align: middle;
    }
}

.upload__file:valid {
    &~.upload__sub-title .upload__tick {
        display:inline-block;
    }
}