@import './assets/global-styles/bootstrap';

.application {
    &__wrapper {
        display: -webkit-flex;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 10px;
        max-width: 1000px;
        margin: 0 auto;
        
        @include media-query(md) {
            padding: 20px;
        }
    }
    &__title {
        flex-basis: 100%;
        text-transform: uppercase;
        font-family: 'Yanone Kaffeesatz', sans-serif;
        font-size: 32px;
        letter-spacing: 1px;
        text-align: left;

        @include media-query(md) {
            font-size: 50px;
            letter-spacing: 2px;
        }
    }
}