.application__wrapper {
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  max-width: 1000px;
  margin: 0 auto; }
  @media screen and (min-width: 768px) {
    .application__wrapper {
      padding: 20px; } }

.application__title {
  flex-basis: 100%;
  text-transform: uppercase;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 32px;
  letter-spacing: 1px;
  text-align: left; }
  @media screen and (min-width: 768px) {
    .application__title {
      font-size: 50px;
      letter-spacing: 2px; } }
