@import "~normalize.css";
@import './assets/global-styles/bootstrap';


* {
  box-sizing: border-box;
}

// removes the box shadow on firefox
input:invalid, textarea:invalid {
  box-shadow: none;
}

//removes safari's contact icon fomr the input
input::-webkit-contacts-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
  position: absolute;
  right: 0;
}

body {
  background:$off-white;
  margin: 0;
  padding: 0;
  font-family: sans-serif;  
} 

.bold {
    font-weight: bold;
}
