@import url(~normalize.css);
* {
  box-sizing: border-box; }

input:invalid, textarea:invalid {
  box-shadow: none; }

input::-webkit-contacts-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
  position: absolute;
  right: 0; }

body {
  background: #f7f7f7;
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

.bold {
  font-weight: bold; }
