$black:             #000000;
$white:             #ffffff;
$off-white:         #f7f7f7;
$blue:              #005c9d;
$green:             #91DC5A;
$red:               #F44336;
$red-alt:           #c80000;
$grey:              #cccccc;
$grey-alt:          #aaaaaa;
$dove-grey:         #757575;