@mixin dimensions($width, $height) {
    width: $width;
    height: $height; 
}

@mixin position-top-right($position, $top, $right) {
    position: $position;
    top: $top;
    right: $right;
}

@mixin overlay($z-index) {
	@include dimensions(100%, 100%);
	@include position-top-right(absolute, 0, 0);
	content:'';
	z-index: $z-index;
}

@mixin media-query($mq) {
    
    $breakpoint-found: false;

    @each $breakpoint in $breakpoints {

        $alias:     nth($breakpoint, 1);
        $condition: nth($breakpoint, 2);

        @if $mq == $alias and $condition {
            $breakpoint-found: true;

            @media #{$condition} {
                @content;
            }

        }

    }

    // If the user specifies a non-exitent alias, send them a warning.
    @if $breakpoint-found == false {
        @warn "Oops! Breakpoint #{$mq} does not exist."
    }

}

