.form__wrapper {
  display: flex;
  flex-wrap: wrap; }

.form__submit {
  display: -webkit-flex;
  display: flex;
  flex-basis: 100%;
  justify-content: flex-end; }

.form__label {
  display: block;
  flex-basis: 100%;
  margin-bottom: 10px;
  text-align: left; }

.react-datepicker-wrapper, .react-datepicker__input-container {
  width: 100%; }

.react-datepicker__input-container input {
  width: 100%;
  height: 50px;
  background-image: url(../../assets/img/tick.svg);
  background-size: 0px 0px;
  background-repeat: no-repeat;
  background-position: 97% 50%;
  border: solid 1px #ffffff;
  color: #F44336;
  outline: none;
  padding-left: 10px; }
  .react-datepicker__input-container input:valid {
    background-size: 20px 20px;
    border: solid 1px #91DC5A;
    color: #005c9d; }
  .react-datepicker__input-container input::placeholder {
    color: #aaaaaa; }
