@import './assets/global-styles/bootstrap';

.form {
    &__wrapper {
        display: flex;
        flex-wrap: wrap;
    }
    &__submit {
        display: -webkit-flex;
        display: flex;
        flex-basis: 100%;
        justify-content: flex-end;
    }

    &__label {
        display: block;
        flex-basis: 100%;
        margin-bottom: $spacer/2;
        text-align: left;
    }
}

// Overiding the defualt styles on react-datepicker
.react-datepicker-wrapper, .react-datepicker__input-container {
    width: 100%;
}

.react-datepicker__input-container input {
    @include dimensions(100%, 50px);
    background-image: url(../../assets/img/tick.svg);
    background-size: 0px 0px;
    background-repeat: no-repeat;
    background-position: 97% 50%;
    border: solid 1px $white;
    color: $red;
    outline:none;
    padding-left: $spacer/2;

    &:valid {
        background-size: $spacer $spacer;
        border: solid 1px $green;
        color: $blue;
    }

    &::placeholder {
        color: $grey-alt;
    }
}